{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% block content %}

<section>

<div class="layout" data-layout="deadlock">

<div>
<h1 data-size="4xl">{{ title }}</h1>
{% if lede %}{{ lede | markdown | safe }}{% endif %}
{{ main | markdown | safe }}
</div><!-- one -->

<div data-variant="box">
{{ aside | markdown | safe }}
</div><!-- two -->

</div><!-- layout -->

</section>





<hr>

<section>
{% include "partials/team.html" %}
</section>





<section>
{% include "partials/principles.html" %}
</section>





<section data-variant="panel">
<div class="layout" data-layout="deadlock">

<div>
{{ block2 | markdown | safe }}
</div><!-- one -->

<div data-variant="scroll-v-panel">
<div data-variant="scroll-v">
<div class="panel"><a href="/portfolio/#panel-daimler">{% include "svgs/side-panel-5a.svg" %} <span data-visibility="hidden">Project Daimler</span></a></div>
<hr>
<div class="panel"><a href="/portfolio/#panel-hat">{% include "svgs/side-panel-6a.svg" %} <span data-visibility="hidden">Project Hat</span></a></div>
<hr>
<div class="panel"><a href="/portfolio/#panel-northern">{% include "svgs/side-panel-7a.svg" %} <span data-visibility="hidden">Project Northern</span></a></div>
<hr>
<div class="panel"><a href="/portfolio/#panel-primrose">{% include "svgs/side-panel-8a.svg" %} <span data-visibility="hidden">Project Primrose</span></a></div>
</div>
</div><!-- two -->

</div><!-- layout -->
</section>





<section>

<div class="layout" data-layout="happy-shrapnel">

<div>
{{ block3 | markdown | safe }}
</div><!-- one -->

<div class="layout" data-layout="ro-jaws">

{% for item in collections.partners %}
<article class="item-partner">
{% if item.data.url %}
<h3><a href="{{ item.data.url }}">{{ item.data.name }}</a></h3>

{% else %}
<h3>{{ item.data.name }}</h3>
{% endif %}

{% if item.templateContent %}<p>{{ item.templateContent | safe }}</p>{% endif %}
</article>
{% endfor %}

</div><!-- two -->

</div><!-- layout -->

</section>




{% endblock %}
